.playfair-display {
    font-family: "Playfair Display", serif;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #1B1B1B;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}